.header {
    box-shadow   : 0  1px 5px rgba(0, 0,  0,  0.5);
    margin-bottom: 15px;
}

body {
  margin     : 0;
  padding    : 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.basic-info {
    color: #111116;
}

.navbar {
    min-height      : 100px;
    background-color: #333;
    color           : #FAFAFA;
    text-align      : center;
    font-size       : 30px;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.todo-list{
    background-color: white;
    margin          : auto;
    width           : 50%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    border          : 1px solid #efefef;
    box-shadow      :
        0  1px 1px       rgba(0, 0,  0,  0.15),
        0 10px 0px  -5px #eee,
        0 10px 1px  -4px rgba(0, 0,  0,  0.15),
        0 20px 0px -10px #eee,
        0 20px 1px  -9px rgba(0, 0,  0,  0.15);
    padding         : 30px;
}

.meme-canvas{
    background-color: white;
    margin          : auto;
    width           : 50%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    border          : 1px solid #efefef;
    box-shadow      :
        0  1px 1px       rgba(0, 0,  0,  0.15),
        0 10px 0px  -5px #eee,
        0 10px 1px  -4px rgba(0, 0,  0,  0.15),
        0 20px 0px -10px #eee,
        0 20px 1px  -9px rgba(0, 0,  0,  0.15);
}

.todo-item {
    display         : flex;
    justify-content : flex-start;
    align-items     : center;
    padding         : 30px 20px 0;
    width           : 70%;
    border-bottom   : 1px soled #cecece;
    font-family     : Roboto, sans-serif;
    font-weight     : 100;
    font-size       : 15px;
    color           : #333333;
}

input[type=checkbox] {
    margin-right: 10px;
}

footer {
    min-height      : 100px;
    background-color: #555;
    color           : #FAFAFA;
    font-family     : Roboto, sans-serif;
    margin-top      : 15px;
    text-align      : center;
    justify-content : center;
    padding-bottom  : 20px;
}

.todo-done {
    color: #999;
    text-decoration: line-through;
}

.todo-done-message {
    color          : #3E7;
    display        : flex;
    text-decoration: none;
    margin-left    : 15px;
    font-weight    : bold;
}

.meme-form input {
    background-color: #FAFAFA;
    border: none;
    color: #111;
    font-size: 1em;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: normal;
    width: 80%;
}
.meme-form {
    width: 80%;
    margin: 8px 0px;
}

.meme-form hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color: #999; 
}

.meme-output {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}

.meme-output {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}

.meme-output img {
    width: 100%;
}

.meme-output p {
    position: absolute;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
	font-family: 
        Impact, 
        Haettenschweiler, 
        Franklin Gothic Bold, 
        Charcoal, 
        Helvetica Inserat, 
        Bitstream Vera Sans Bold, 
        Arial Black, 
        sans serif; 
    font-size: 50px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: white;
    -webkit-text-stroke: 2px black;
}

.meme-output p.top-text
{
    top: 0%;
    margin: 0;
}

.meme-output p.bottom-text
{
    bottom: 0%;
    margin: 0;
}